/*  _discovery.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

/* Header Icon Positioning */

#corner-link
  flex: 0 0 auto
  svg
    width: 200px

  +min
    width: 169px


#logo-main
  flex: 0 0 auto
  padding: 75px 0 0 0 
  svg
    width: 250px

  +min
    svg
      width: 196px


#logo-seal
  flex: 0 0 auto
  width: 200px

  +min
    width: 169px


/* Discovery Map position */

#discovery-map
  height: 2297px
  width: 1280px
  margin: 0 auto
  position: relative

  header
	  +flxx

  +medium
    width: 100vw
    height: 0
    padding-bottom: 179%

  +min
    width: 100vw
    height: 0
    padding-bottom: 270%

/* SVG Text/Copy positioning */

#headline-primary
  width: 400px
  margin: 111px auto 0

#headline-continue
  position: absolute
  width: 333px
  bottom: 10%
  right: 15.5%

#subhead-primary
  width: 275px
  margin: 20px auto 0

#subhead-continue
  position: absolute
  width: 220px
  bottom: 6.5%
  right: 21%


/* Hover Button */

.hover-bttn
  width: 40px


/* Button Positioning */

#ingram
  position: absolute
  top: 30.6%
  right: 14.3%

#gym
  position: absolute
  top: 43%
  right: 17%

#lanehall
  position: absolute
  top: 50.1%
  right: 34.2%

#shellhouse
  position: absolute
  top: 44.6%
  right: 46.3%

#jenkinshall
  position: absolute
  top: 54.7%
  right: 80.5%

#ross
  position: absolute
  top: 83.5%
  right: 61%

#pardue
  position: absolute
  top: 62.6%
  right: 25.89%


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */


/* SVG Droup Names --> saved in Illustrator */

#discovery-map  
  background: $site-white url("/ashley-hall-world/content/themes/ahw/assets/bg-map-01.jpg") no-repeat center
  background-size: cover

  +min 
    background: $site-white url("/ashley-hall-world/content/themes/ahw/assets/bg-map-01-mobile.jpg") no-repeat center


#corner-link  
  > svg
    .cls-1
      fill: $site-white
    .cls-2
      fill: $site-grey

#disc-group
  > .st0
    fill: $site-purple

#offers-group
  > .st0
    fill: $site-purple


