/*  _discovery.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

/* Header Icon Positioning */

#corner-link
  flex: 0 1 auto
  svg
    width: 200px

  +min
    display: none


#logo-main
  flex: 1 0 auto
  text-align: center
  padding: 75px 0 0 0 
  svg
    width: 250px

  +min
    padding-top: 10%
    
    svg
      width: 30%


#logo-seal
  flex: 0 1 auto
  width: 200px

  +min
    display: none


/* Discovery Map position */

#discovery-map
  height: 2297px
  width: 1280px
  margin: 0 auto
  position: relative

  header
	  +flxx

  +medium
    width: 100vw
    height: 0
    padding-bottom: 179%

  +min
    width: 100vw
    height: 0
    padding-bottom: 270%


/* SVG Text/Copy positioning */

#headline-primary
  width: 31.3%
  margin: 8.7% auto 0

  +min
    width: 69%
    margin-top: 8%

#headline-continue
  position: absolute
  width: 26%
  bottom: 10%
  right: 15.5%

  +min
    width: 39%
    bottom: 7.2%
    right: 6%

#subhead-primary
  width: 21.5%
  margin: 1.6% auto 0

  +min
    margin-top: 3%
    width: 39%


#subhead-continue
  position: absolute
  width: 17%
  bottom: 6.5%
  right: 21%

  +min
    width: 31.5%
    bottom: 2.5%
    right: 10%



/* Hover Button */

.hover-bttn
  width: 40px
  opacity: 0.6

  +min 
    width: 30px

/* Gif Positioning */

#violin
  position: absolute
  top: 26.5%
  right: 6.1%
  width: 18%

  +min
    top: 33.5%
    right: 7.5%
    width: 19%


#bball
  position: absolute
  top: 67.5%
  right: 32%
  width: 14%

  +min
    top: 77.2%
    right: 36%
    width: 18%
  

#gate1
  position: absolute
  top: 57.5%
  right: 4.7%
  width: 5.6%

  +min
    top: 64%
    right: 6.7%
    width: 6%


#gate2
  position: absolute
  top: 31.1%
  right: 89%
  width: 5.6%
  
  +min
    top: 35.9%
    right: 84.4%
    width: 7.4%


#swimmer
  position: absolute
  top: 53.4%
  right: 11%
  width: 16%

  +min
    top: 61.1%
    right: 15%
    width: 17.5%

#watercan
  position: absolute
  top: 83.4%
  right: 43%
  width: 10%

  +min
   top: 90.4%
   right: 50%

#bear
  position: absolute
  top: 34.8%
  right: 34.4%
  width: 11%

  +min
    top: 41.3%
    right: 24.4%
    width: 13%



/* Button Positioning */

#ingram
  position: absolute
  top: 30.6%
  right: 11.3%

  +min
    top: 36%
    right: 10.3%


#gym
  position: absolute
  top: 43%
  right: 17%

  +min
    top: 53.5%
    right: 11%


#lanehall
  position: absolute
  top: 50.1%
  right: 34.2%

  +min
    top: 51.1%
    right: 34%


#shellhouse
  position: absolute
  top: 44.6%
  right: 46.3%

  +min
    top: 49.8%
    right: 41.3%


#jenkinshall
  position: absolute
  top: 54.7%
  right: 80.5%

  +min
    top: 60%
    right: 56.5%

#ross
  position: absolute
  top: 83.5%
  right: 61%

  +min
    top: 83.5%
    right: 81%

#pardue
  position: absolute
  top: 62.6%
  right: 25.89%

  +min
    top: 67.5%
    right: 31.89%

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */


/* SVG Droup Names --> saved in Illustrator */

#discovery-map  
  background: $site-white url("/ashley-hall-world/content/themes/ahw/assets/bg-map-01.jpg") no-repeat center
  background-size: cover

  +min 
    background: $site-white url("/ashley-hall-world/content/themes/ahw/assets/bg-map-01-mobile.jpg") no-repeat center
    background-size: cover


#corner-link  
  > svg
    .cls-1
      fill: $site-white
    .cls-2
      fill: $site-grey

#disc-group
  > .st0
    fill: $site-purple

#offers-group
  > .st0
    fill: $site-purple


