/*  _index.scss */

.wrap

#discovery-map
  
	#discovery-map--header
	  display: flex
	  justify-content: space-between

	  #corner-link
	    flex: 0 0 auto
	    svg
		    width: 150px
		    .cls-1
		     fill: $site-white
		    .cls-2
		     fill: $site-grey

	  #logo-main
	    flex: 0 0 auto
	    text-align: center
	    padding: 100px 0 0 0 
	    svg
	      width: 400px

	  #logo-seal
	    flex: 0 0 auto
	    svg 
	      width: 100px

#blog-feed

  #blog-feed--lcol

  #blog-feed--rcol

#social-feed


#footer

  #logo-footer
    width: 200px

  #footer--fineprint
    display: flex
    justify-content: space-between

    #footer--social

      ul li 
        display: inline-block
        svg
          height: 20px 

    #footer--copyright




