/*  _index.scss */


/* PAGE CONTEXT */

#discovery-map  
  header
	  display: flex
	  justify-content: space-between
	  align-items: flex-start
	  flex-wrap: wrap

#corner-link
  flex: 0 0 auto
  svg
    width: 150px

#logo-main
  flex: 0 0 auto
  padding: 100px 0 0 0 
  svg
    width: 400px

#logo-seal
  flex: 0 0 auto
  svg 
    width: 100px

/**/

#feeds
  display: flex
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap

  > section:nth-child(1)
    flex: 1 0 auto
    margin: 0 15px 0 0

  > section:nth-child(2)
    flex: 0 0 160px

#feeds--blog
  display: flex
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap

  > article
    height: 430px
  
  > article:nth-child(1)
    flex: 1 0 auto

  > article:nth-child(2)
    flex: 0 0 280px
    margin: 0 0 0 15px

#feeds--social
  dispay: flex
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap

  > article
    flex: 0 0 auto
    margin: 8px 0 8px 0

.image
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: no-wrap

  .play-bttn
    flex: 0 0 auto

/**/

#logo-footer
  width: 200px
  margin: auto

footer

  header
    text-align: center

  section
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap

    #footer--social
      flex: 0 0 auto

    #footer--copyright
      flex: 0 0 auto

#footer--social

  > ul li 
    display: inline-block

    svg 
      height: 20px 

#footer--blog

  > ul li 
    display: inline-block


/* OBJECTS */

.play-bttn
  svg
    width: 40px
    .cls-1
      fill: $site-white
    path
      fill: $site-black

.label
  @extend .font-gss-bold
  font-size: $font-xs
  text-transform: uppercase
  letter-spacing: 0.1em
  color: $site-purple
  border-bottom: 3px solid $site-grey
  padding: 0 0 1px 0

#corner-link
  > svg
    .cls-1
      fill: $site-white
    .cls-2
      fill: $site-grey

#pre-feeds
  > h2
    text-align: center
    padding: 30px 0

#feeds
  article
    background-color: $site-white

#feeds--blog

#blog-01
  background: #fff url("./../assets/img-01.jpg") no-repeat fixed center
  background-size: contain
  margin: 10px
  height: 260px

#blog-02
  background: #fff url("./../assets/img-02.jpg") no-repeat fixed center
  background-size: contain
  margin: 10px
  height: 260px

.play-bttn
  &:hover
    .cls-1
      fill: $site-purple
    path
      fill: $site-white 


#feeds--social
  header
    padding: 0 0 10px 0
    border-bottom: 6px solid $site-grey
    > h2
      font-size: $font-l




